<ion-view view-title="Posts">
	<ion-content>
		<ion-refresher
	   	 	pulling-text="Puxe para atualizar..."
	    	on-refresh="doRefresh()">
	  	</ion-refresher>
	  	<div ng-show="!posts" class="list card">

			<div class="item item-avatar">
				<img ng-src="{{post._embedded.author[0].avatar_urls[48]}}">
				<h2>{{post._embedded.author[0].name}}</h2>
				<p>{{post.date}}</p>
			</div>

			<div class="item item-body">
				<h2 ng-bind-html="post.title.rendered"></h2>
				<a href="#/app/posts/{{post.id}}">
					<img class="full-image" src="{{post.better_featured_image.source_url}}">
				</a>
			</div>

		</div>

		<div ng-show="!posts" class="list card">

			<div class="item item-avatar">
				<img ng-src="{{post._embedded.author[0].avatar_urls[48]}}">
				<h2>{{post._embedded.author[0].name}}</h2>
				<p>{{post.date}}</p>
			</div>

			<div class="item item-body">
				<h2 ng-bind-html="post.title.rendered"></h2>
				<a href="#/app/posts/{{post.id}}">
					<img class="full-image" src="{{post.better_featured_image.source_url}}">
				</a>
			</div>

		</div>

		<div ng-show="!posts" class="list card">

			<div class="item item-avatar">
				<img ng-src="{{post._embedded.author[0].avatar_urls[48]}}">
				<h2>{{post._embedded.author[0].name}}</h2>
				<p>{{post.date}}</p>
			</div>

			<div class="item item-body">
				<h2 ng-bind-html="post.title.rendered"></h2>
				<a href="#/app/posts/{{post.id}}">
					<img class="full-image" src="{{post.better_featured_image.source_url}}">
				</a>
			</div>

		</div>

		<div ng-show="!posts" class="list card">

			<div class="item item-avatar">
				<img ng-src="{{post._embedded.author[0].avatar_urls[48]}}">
				<h2>{{post._embedded.author[0].name}}</h2>
				<p>{{post.date}}</p>
			</div>

			<div class="item item-body">
				<h2 ng-bind-html="post.title.rendered"></h2>
				<a href="#/app/posts/{{post.id}}">
					<img class="full-image" src="{{post.better_featured_image.source_url}}">
				</a>
			</div>

		</div>

		<div ng-repeat="post in posts" class="list card">

			<div ng-click="aboutAuthor({{post.author}})" class="item item-avatar">
				<img ng-src="{{post._embedded.author[0].avatar_urls[48]}}">
				<h2>{{post._embedded.author[0].name}}</h2>
				<p>{{parseDateServer(post.date)}}</p>
			</div>

			<div ng-click="abrirPost({{post.id}})" class="item item-body">
				<h2 ng-bind-html="post.title.rendered"></h2>
				<img class="full-image" src="{{post.better_featured_image.source_url}}">
			</div>
			
		</div>

		<ion-infinite-scroll
    		on-infinite="carregarMais()"
    		distance="2%">
  		</ion-infinite-scroll>
	</ion-content>
</ion-view>